body {
	text-align:center;
	width: max-content;
	font-size: 0px;
	color: white;
	font-family: Lucida Grande;
}

.odd {
	background-color: teal;
}

.even {
	background-color: pink;
}

.box {
	font-size: 70px;
	display: inline-block;
	text-align: center;
	padding: 80px;
}




