body {
	text-align:center;
	width: max-content;
	font-size: 0px;
	color: white;
	font-family: Courier;
}

.odd {
	background-color:  #ff0066;
}

.even {
	background-color: #00a3cc;
}

.box {
	font-size: 70px;
	display: inline-block;
	text-align: center;
	padding: 70px;
}




