body {
	font-size: 0;
}
  .layer {
	display: inline-block;
}  

.box {
	margin: 0px;
	font-size: 70px;
	padding: 30px;
	display: inline-block;
	}
	
.odd {
	background-color: teal;
}

.even {
	background-color: pink;
}

