body {
	color: white;
	font-family: Courier;
	font-size: 96px;
}

.odd {
	background-color: #ff0066;
	
}

.even {
	background-color: #00a3cc;
}

.box {
	margin: 0px;
	display: block;
	text-align: center;
	padding: 80px;
	width: 60px;
}

.layer {
	position: relative;
}