body {
	font-size: 0;
	color: white;
	font-family: Courier;
}
  .layer {
	display: inline-block;
}  

.box {
	margin: 0px;
	font-size: 70px;
	padding: 30px;
	display: inline-block;
	}
	
.odd {
	background-color: #ff0066;
}

.even {
	background-color: #00a3cc;
}

