body {
	text-align:center;
	width: max-content;
	font-size: 0px;
}

.odd {
	background-color: orange;
}

.even {
	background-color: blue;
}

.box {
	font-size: 70px;
	display: inline-block;
	text-align: center;
	padding: 80px;
	
}



