html {
	min-width: 800px;
}


.starsList {
	height: 30%;
	width: 30%;
	display: block;
}

.titleList {
}

#listImage {
	height: 50%;
	width: 50%;
	float: left;
	
}

#titleAndSeller {

}

.item {
	margin-bottom: 25%;
	text-align: left;
}

.inline {
	display: inline;
}

.red {
	color: red;
}

h2 {
	margin: 10px 0px 10px 0px;
	}
	
h3 {
	margin: 10px 0px 10px 0px;
	}
	
p {
	margin: 10px 5px 10px 5px;
	font-size: 20px;
	}
	
	
#price {
	color: #800000;
}