html {
	width: 2000px;
}

.starsList {
	height: 30px;
	width: 120px;
}


#listImage {
	height: 35%;
	width: 60%;
}

.red {
	color: red;
}

h2 {
	margin: 0px 5px 0px 5px;
	}
	
h3 {
	margin: 0px 5px 0px 5px;
	}
	
p {
	margin: 0px 5px 0px 5px;
	font-size: 20px;
	}
	
	
#price {
	color: #800000;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
	width: 500px;
	height: 450px;
}

h1 {
	font-size: 40px;
}

.inline {
	display: inline;
}

.mfr {
	bottom-margin: 20px;
}